<form class="myform" method="post" action="/form/signup">
  <input
    type="text"
    {{!-- attribut name obligatoire pour y acceder dans req.body --}}
    name="username"
  />

  <input
    type="password"
    {{!-- attribut name obligatoire pour y acceder dans req.body --}}
    name="password"
  />

  <button class="btn btn-success" type="submit">Submit</button>
</form>